<!-- home  -->
<div class="intro">
  <h3 class="intro__greet">
    <span
      class="txt-rotate"
      data-period="500"
      data-rotate='[ "Hello", "你好 - Nǐ hǎo", "Konnichiwa", "Hola", "Ciao", "مرحبا - marhabaan"]'>
    </span>
  <hr></h3>
  <h1 class="intro__name">I am <span class="intro__name--highlighted">Giorgi Zhonzholadze</span></h1>
  <h5 class="intro__dev">Front-End Developer <hr></h5>
  <div>
    <a class="intro__btn--highlighted" routerLink="/about"><span>ABOUT ME</span></a>
    <a class="intro__btn" routerLink="/projects"><span>PROJECTS</span></a>
  </div>
  <app-carousel></app-carousel>
</div>















