<div class="info">
  <img class="info__img" src="../../assets/img/profilpicture.jpg" alt="profpicture">
  <div class="details">
    <h2 class="details__title">About Me</h2>
    <p class="details__text"> I am self-taught front-end developer.  I know that I am not experienced and there are many things to learn to improve my programming skills,  but in addition to my knowledge base, I actively seek everyday to learn more.  <br>
      Currently I am  looking for a opportunity to join a company and forge my career as front-end developer.
    </p>
    <div class="details__info">
      <div>
        <p>Name:</p>
        <p>Date of birth:</p>
        <p>Address:</p>
        <p>Email:</p>
        <p>Phone:</p>
      </div>
      <div>
        <p>Giorgi Zhonzholadze</p>
        <p>July 15, 1996</p>
        <p>Telavi, Kakheti, Georgia</p>
        <p>giorgizhonzholadze1996@gmail.com</p>
        <p>595 33 34 39</p>
      </div>
    </div>
    <a download href="../../assets/CV/Giorgi_Zho.pdf" class="intro__btn--highlighted">Download CV</a>
  </div>
</div>
