<div class="info">
  <div class="slider">
    <div class="slider__wrapper">
      <input type="radio" name="image-slide" checked="checked" class="slider__input">
      <img src="../../assets/slider/profilpicture.jpg" alt="mypic">
      <input type="radio" name="image-slide" class="slider__input">
      <img src="../../assets/slider/pic.jpg" alt="mypic">
      <input type="radio" name="image-slide" class="slider__input">
      <img src="../../assets/slider/mypic.jpeg" alt="mypic">
    </div>
  </div>
  <div class="details">
    <h2 class="details__title">About Me</h2>
    <p class="details__text"> I am self-taught front-end developer. In addition to my knowledge base, I actively seek everyday
      to develop more. I can say that everything what I know about programming is the result of my hard
      work. <br>
      Currently my goal is to become more proficient in this field and forge my career as front-end .developer
    </p>
    <div class="details__info">
      <div>
        <p>Name:</p>
        <p>Surname:</p>
        <p>Date of birth:</p>
        <p>Address:</p>
        <p>Phone:</p>
      </div>
      <div>
        <p class="details__info--highlighted">Giorgi</p>
        <p class="details__info--highlighted">Zhonzholadze</p>
        <p class="details__info--highlighted">July 15, 1996</p>
        <p class="details__info--highlighted">Telavi, Georgia</p>
        <p class="details__info--highlighted">595 33 34 39</p>
      </div>
    </div>
  </div>
</div>
<!-- education component  -->
<div class="education">
  <h2 class="education__title">Education</h2>
  <div class="education__content">
    <div class="education__item">
      <h3 class="education__subtitle">Telavi State University</h3>
      <div class="education__subitem">
        <div>
          <p>Degree</p>
          <p>Faculty:</p>
          <p>Field:</p>
          <p>Minor:</p>
        </div>
        <div>
          <p class="education__highlight">Bachelor</p>
          <p class="education__highlight">Social Sciences and Law</p>
          <p class="education__highlight">Public Management</p>
          <p class="education__highlight">Information Technology</p>
        </div>
      </div>
    </div>
    <div class="education__item">
      <h3 class="education__subtitle">METU</h3>
      <div class="education__subitem">
        <div>
          <p>Degree:</p>
          <p>Faculty:</p>
          <p>Field:</p>
          <p>status:</p>
        </div>
        <div>
          <p class="education__highlight">Bachelor</p>
          <p class="education__highlight">Engineering</p>
          <p class="education__highlight">Computer Engineering</p>
          <p class="education__highlight">International Student(Erasmus)</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- focus  -->
<div class="focus">
  <h2 class="focus__title">Current Focus On</h2>
  <div class="focus__item">
    <img src="../../assets/carousel/typescript.png" alt="TS" class="focus__img">
    <img src="../../assets/carousel/angular.png" alt="Angular" class="focus__img">
  </div>
</div>
<!-- language comp  -->
<div class="CV">
  <div class="language">
    <h3 class="language__title">Languages</h3>
    <div class="language__info">
      <div>
        <p>Georgian: </p>
        <p>English: </p>
        <p>Russian: </p>
      </div>
      <div>
        <p class="language__level">Native</p>
        <p class="language__level">Advanced</p>
        <p class="language__level">Intermediate</p>
      </div>
    </div>
  </div>
  <div class="cont">
    <h3 class="cont__title">For more information</h3>
    <a download href="../../assets/CV/Giorgi_Zhonzholadze.pdf" class="intro__btn--highlighted">Download CV</a>
  </div>
</div>



