<h1 class="about__title" [translate]="'about.title'">About Me</h1>
<section class="about">
  <article class="about__details">
    <h3 [translate]="'about.subtitle'" class="about__subtitle">SUMMARY</h3>
    <p class="about__text" [translate]="'about.text'">I am self-taught front-end developer. In addition to my knowledge base, I actively seek everyday to develop more. I can say that everything what I know about programming is the result of my hard work.</p>
    <p class="about__text" [translate]="'about.text2'">Currently my goal is to become more proficient in this field and forge my career as front-end developer.</p>
    <div class="about__info">
      <div>
        <p [translate]="'about.name'">Name:</p>
        <p [translate]="'about.surname'">Surname:</p>
        <p [translate]="'about.birth'">Date of birth:</p>
        <p [translate]="'about.address'">Address:</p>
      </div>
      <div>
        <p [translate]="'about.name-field'" class="about__info--highlighted">Giorgi</p>
        <p [translate]="'about.surname-field'" class="about__info--highlighted">Zhonzholadze</p>
        <p [translate]="'about.birth-field'" class="about__info--highlighted">July 15, 1996</p>
        <p [translate]="'about.address-field'" class="about__info--highlighted">Telavi, Kakheti</p>
      </div>
    </div>
  </article>

  <!-- card component -->
  <div class="about__cards">
    <app-card></app-card>
  </div>

</section>
<section class="CV">
  <h3 class="CV__title" [translate]="'about.more'">For more information</h3>
  <a download href="assets/CV/Giorgi_Zhonzholadze-En.pdf" type="application/pdf" class="CV__btn" [translate]="'about.CV'">download CV</a>
</section>

<!-- focus componenet -->
<app-focus></app-focus>

