<div class="circular__menu">
  <a class="circular__btn" (click)="activeClass()">
    <img src="../../assets/icons/plus.svg" alt="plus" class="circular__icon">
  </a>
  <menu class="menu__list">
    <a href="https://www.facebook.com/zhonzholadze/" class="menu-item" target="_blank"><img src="../../assets/icons/iconmonstr-facebook-3.svg" alt="facebook"></a>
    <a href="https://github.com/Gikkk" class="menu-item" target="_blank"><img src="../../assets/icons/iconmonstr-github-3.svg" alt="GitHub"></a>
    <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJftvRMnnphCbLpXRPZXCLGzGhlddJTtBWWJbVrbZHJrBBXPwGpVclHhKKqFbLHWMnVZvlV" class="menu-item" target="_blank"><img src="../../assets/icons/google-icon.svg" alt="Gmail"></a>
    <a href="https://www.instagram.com/giorgizhonzholadze/" class="menu-item" target="_blank"><img src="../../assets/icons/iconmonstr-instagram-11.svg" alt="Instagram"></a>
  </menu>
</div>
