// button
%btn--scalable{
  display: inline-block;
  border-radius: 10px;
  background: $tertiary-color--light;
  color: $primary-color;
  font-weight: 600;
  text-transform: uppercase;
  transition: all ease .3s;
  box-shadow: inset 0 0 10px $primary-color;

  &:hover{
    transform: scale(1.075);
    box-shadow: inset 0 0 0 2px $tertiary-color--light;
    background: none;
    color: $tertiary-color--light;
  }
}

// project buttons
%fill__btn{
  transition: all 0.5s ease-out;
  letter-spacing: 2px;
  box-shadow: inset 0 0 10px $primary-color;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

// display flex-centring
%flex--centring{
  display: flex;
  justify-content: center;
  align-items: center;
}

// display grid - centring
%grid--centring{
  display: grid;
  justify-items: center;
}

// positioning - absolute
%position--absolute{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// mobnav linke
%mobnav--line{
  width: 90%;
  height: 1px;
  background: #e4d9d9;
}
