/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,900|Rubik:300,400,500,700');

/*font Variables*/
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Rubik', sans-serif;

/*Color Variables*/
$font-color: hsl(273, 48%, 8%);
$background: #8b7d7dbb;
$btn-background: hsl(258, 46%, 49%);
$hover-btn: hsla(0, 0%, 0%, .6);
$border: rgb(223, 217, 217);

