@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

/*font Variables*/
$primary-font: 'Playfair Display', serif;
$secondary-font: 'Akaya Telivigala', cursive;


/*Color Variables*/
$primary-color: white;
$secondary-color: black;
$tertiary-color: #252934;

$primary-color--light: rgba(245, 238, 238, 0.8);
$secondary-color--light: hsla(0, 0%, 0%, .6);
$tertiary-color--light: #4b6cc1;

