/*font Variables*/
$primary-font: 'Playfair Display', serif;
$secondary-font: 'Akaya Telivigala', cursive;
$tertiary-font: 'RocknRoll One', sans-serif;

/*Color Variables*/
$primary-color: white;
$secondary-color: black;
$tertiary-color: #252934;

$primary-color--light: rgba(245, 238, 238, 0.8);
$secondary-color--light: hsla(0, 0%, 0%, .6);
$tertiary-color--light: #4b6cc1;

