<div class="projects">
  <h1 class="projects__title">My Projects</h1>
  <h3 class="projects__subtitle">These projects are made just for practice</h3>
  <div class="projects__list">
  <a href="https://gikkk.github.io/Challenge-5-IP-Address-Tracker-API/" class="projects__link">
      <div class="projects__item--hoverable"></div>
      <img class="projects__item" src="../../assets/projects-img/tracker.jpg" alt="addresstracker">
      <img class="projects__item--highlighted" src="../../assets/icons/icon.png" alt="watching">
  </a>
  <a href="https://gikkk.github.io/Challenge-6-Rest-Countries-API/" class="projects__link">
    <div class="projects__item--hoverable"></div>
    <img class="projects__item" src="../../assets/projects-img/country.jpg" alt="countrylist">
    <img class="projects__item--highlighted" src="../../assets/icons/icon.png" alt="watching">
  </a>
  <a href="https://gikkk.github.io/Challenge-4-URL-Shortening-API/" class="projects__link">
    <div class="projects__item--hoverable"></div>
    <img class="projects__item" src="../../assets/projects-img/shorten.jpg" alt="urlshorten">
    <img class="projects__item--highlighted" src="../../assets/icons/icon.png" alt="watching">
  </a>
  <a href="https://gikkk.github.io/Challenge-3-Responsive-BankMainPage/" class="projects__link">
    <div class="projects__item--hoverable"></div>
    <img class="projects__item" src="../../assets/projects-img/bank.jpg" alt="banklayout">
    <img class="projects__item--highlighted" src="../../assets/icons/icon.png" alt="watching">
  </a>
  <a href="https://gikkk.github.io/Challenge-2-Responsive-Grid-Dashboard/" class="projects__link">
    <div class="projects__item--hoverable"></div>
    <img class="projects__item" src="../../assets/projects-img/dashboard.jpg" alt="dashboard">
    <img class="projects__item--highlighted" src="../../assets/icons/icon.png" alt="watching">
  </a>
  <a href="https://gikkk.github.io/Challenge-1-Responsive-flexbox/" class="projects__link">
    <div class="projects__item--hoverable"></div>
    <img class="projects__item" src="../../assets/projects-img/chat.jpg" alt="chat">
    <img class="projects__item--highlighted" src="../../assets/icons/icon.png" alt="watching">
  </a>
  </div>
  <a href="https://github.com/Gikkk" class="intro__btn"><span>More on Github</span></a>
</div>
