<div class="projects">
  <h1 class="projects__title">My Projects</h1>
  <div class="projects__list">
  <a href="" class="projects__link">
      <div class="projects__item--hoverable"></div>
      <img class="projects__item" src="../../assets/projects-img/tracker.jpg" alt="addresstracker">
      <img class="projects__item--highlighted" src="../../assets/icons/icon.png" alt="watching">
  </a>
  <a href="" class="projects__link">
    <div class="projects__item--hoverable"></div>
    <img class="projects__item" src="../../assets/projects-img/country.jpg" alt="countrylist">
    <img class="projects__item--highlighted" src="../../assets/icons/icon.png" alt="watching">
  </a>
  <a href="" class="projects__link">
    <div class="projects__item--hoverable"></div>
    <img class="projects__item" src="../../assets/projects-img/shorten.jpg" alt="urlshorten">
    <img class="projects__item--highlighted" src="../../assets/icons/icon.png" alt="watching">
  </a>
  <a href="" class="projects__link">
    <div class="projects__item--hoverable"></div>
    <img class="projects__item" src="../../assets/projects-img/github.jpg" alt="github">
    <img class="projects__item--highlighted" src="../../assets/icons/icon.png" alt="watching">
  </a>
  <a href="" class="projects__link">
    <div class="projects__item--hoverable"></div>
    <img class="projects__item" src="../../assets/projects-img/bank.jpg" alt="banklayout">
    <img class="projects__item--highlighted" src="../../assets/icons/icon.png" alt="watching">
  </a>
  <a href="" class="projects__link">
    <div class="projects__item--hoverable"></div>
    <img class="projects__item" src="../../assets/projects-img/dashboard.jpg" alt="dashboard">
    <img class="projects__item--highlighted" src="../../assets/icons/icon.png" alt="watching">
  </a>
  </div>
  <a href="https://github.com/Gikkk" class="intro__btn"><span>More on Github</span></a>
</div>
