.contact{
  text-align: center;
  padding: 1rem 1rem 0  1rem;
  background: url("../../assets/general/contact-day.jpg") no-repeat center center fixed;
  background-size: cover;
  box-shadow: inset 0 0 10px $primary-color;
  margin-bottom: 60px;

  .contact__title{
    font-size: 2rem;
    padding: 5rem 0 1rem 0;
    color: $tertiary-color;
  }

  .contact__box{
    color: $tertiary-color;
    opacity: 0;
  }

  .contact__greet{
    color: $secondary-color--light;
    margin-bottom: 2rem;
  }

  .form__container{
    background: $primary-color--light;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: inset 0 0 10px $secondary-color;
  }

  .contact__details{
    background: $primary-color--light;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: inset 0 0 10px $secondary-color;
  }

  .contact__subtitle{
    margin: 2rem 0 0.5rem 0;
    color: $tertiary-color;
  }

  .contact__item{
    @extend %flex--centring;
  }

  .contact__img{
    width: 16px;
    height: 16px;
    background: $primary-color;
    border-radius: 0.3rem;
  }

  .contact__status{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid $secondary-color;
    background: rgb(74, 196, 37);
  }

  .contact__text{
    color: $secondary-color--light;
    margin: 0 0 0 0.5rem;
    font-size: 14px;
    font-weight: 600;
  }

  .contact__phone{
    font-family: $tertiary-font;
    text-decoration: underline;
    font-size: 12px;
  }
}

@media (min-width: 640px){
  .contact{
    text-align: left;

    .contact__box{
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      padding: 0 2rem;
      max-width: 1628px;
    }

    .form__container{
      border-radius: 0.5rem 0 0 0.5rem;
    }

    .contact__details{
      border-radius: 0 0.5rem 0.5rem 0;
    }

    .contact__title{
      text-align: center;
      // font-size: 2rem;
    }

    .contact__greet{
      text-align: center;
    }

    .contact__item{
      justify-content: left;
    }
  }
}


@media (min-width: 1024px){
  .contact{
    .contact__box{
      margin-right: auto;
      margin-left: auto;
      padding: 0 4rem;
    }
  }
}
