.projects{
  @extend %grid--centring;
  padding: 3rem 1rem;
  row-gap: 1.5rem;
  max-width: 1500px;
  padding-bottom: 100px;

  .projects__title{
    margin: 3rem 0 1rem 0;
    font-size: 2rem;
    font-style: italic;
    text-transform: uppercase;
  }

  .projects__list{
    display: grid;
    row-gap: 3rem;
  }

  .projects__img{
    height: 280px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
  }

  .projects__item{
    .projects__hovereffect {
      overflow: hidden;
      position: relative;
      border-radius: 0.5rem;
    }

    .projects__overlay{
      width: 100%;
      height: 100%;
      overflow: hidden;
      @extend %position--absolute;
      transition: all 0.5s ease-in-out;
    }

    .projects__box{
      display: inline-block;
      border: 1px solid #fff;
      opacity: 0;
      transform: scale(1.5);
      transition: all 0.5s ease-in-out;
      height: 85%;
      width: 85%;
      position: absolute;
      top: 7.5%;
      left: 7.5%;
    }
  }

  .projects__item:hover{
    .projects__overlay {
      background: rgba(170,170,170,0.4);
    }

    .projects__img{
      transform: scale(1.1);
    }

    .projects__box{
      opacity: 1;
      transform: scale(1);
      background: rgba(0,0,0,0.4);
    }
  }

  .projects__container{
    padding: 1rem;
  }

  .projects__text{
    color: rgb(104, 96, 96);
    padding: 0 0 0 24px;
    margin-bottom: 2rem;
    font-size: 0.875rem;
  }

  .projects__header{
    letter-spacing: 2px;
    font-size: 1.5rem;
    transition: all 0.9s ease-in-out;
  }

  .projects__tags{
    margin: 0.5rem 0 0 0.5rem;
  }

  .projects__tag{
    color: #0062FF;
    font-family: $secondary-font;
    margin-right: 0.375rem;
    font-size: 0.875rem;
  }
}

  .project__btn{
    background: linear-gradient(to right, $tertiary-color 50%, $secondary-color--light 50%);
    color: $secondary-color;
    background-size: 200% 100%;
    background-position: right bottom;
    @extend %fill__btn;
    margin-right: 1rem;

    &:hover{
      background-position: left bottom;
      color: $primary-color;
    }
  }

  .project__btn--highlighted{
    background: linear-gradient(to right, $secondary-color--light 50%, $tertiary-color 50%);
    color: $primary-color;
    background-size: 200% 100%;
    background-position: right bottom;
    @extend %fill__btn;

    &:hover{
      color: $secondary-color;
      background-position: left bottom;
    }
  }

  .intro__btn{
    @extend %btn--scalable;
    padding: 16px 32px;
    margin-top: 4rem;
  }

@media (min-width: 640px){

  .projects{
    padding: 3rem;
  }

  .projects__title{
    font-size: 2.81rem;
  }

  .projects__item{
    display: grid;
    height: 350px;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    align-items: center;
  }

  .place__left{
    grid-template-areas: "image text";
  }

  .place__right{
    grid-template-areas: "text image";
    text-align: right;
  }

  .projects__hovereffect{
    grid-area: image;
  }

  .projects__content{
    grid-area: text;
  }

  .projects__text--left{
    padding: 0 24px 0 0 !important;
    text-align: right !important;
    direction: rtl;
  }
}

@media (min-width: 1024px){
  .projects{
    padding: 3rem 5rem;
    margin-right: auto;
    margin-left: auto;

    .projects__text {
      font-size: 1rem;
    }

    .projects__item{
      height: 400px;
    }

    .projects__img{
      height: 400px;
    }
  }
}

@media (min-width: 1660px){
  .projects{
    padding: 3rem 0;
    margin-right: auto;
    margin-left: auto;
  }
}
