<section class="contact">
  <h1 class="contact__title" [translate]="'contact.title'" ></h1>
  <h3 class="contact__greet" [translate]="'contact.subtitle'">Write me about anything or just say hello</h3>

  <div class="contact__box" #fadeInAnim>
    <section class="form__container">
      <h3 class="form__title" [translate]="'contact.msg-title'">SEND ME A MESSAGE</h3>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form">
        <div class="form__item">
          <label for="name" class="form__label" [translate]="'contact.msg-name'">Your Name</label>
          <input id="name" formControlName="name" type="text" class="form__input">
          <span class="form__error" [translate]="'contact.msg-err'"
          *ngIf="!signUpForm.get('name').valid && signUpForm.get('name').touched"
          >The Name field is empty or not valid!</span>
        </div>

        <div class="form__item">
          <label for="email" class="form__label" [translate]="'contact.msg-email'">Your Email</label>
          <input id="email" formControlName="email" type="text" class="form__input">
          <span class="form__error" [translate]="'contact.msg-err'"
          *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched"
          >The Email field is empty or not valid!</span>
        </div>

        <div class="form__item">
          <label for="subject" class="form__label" [translate]="'contact.msg-subject'">Subject</label>
          <input id="subject" formControlName="subject" type="text" class="form__input" >
          <span class="form__error" [translate]="'contact.msg-err'"
          *ngIf="!signUpForm.get('subject').valid && signUpForm.get('subject').touched"
          >The Subject field is empty or not valid!</span>
        </div>

        <div class="form__item">
          <label for="message" class="form__label" [translate]="'contact.msg-text'">Message</label>
          <textarea id="message" formControlName="message" rows="4" class="form__textarea" placeholder="e.g. I'd like to talk about..."></textarea>
          <span class="form__error" [translate]="'contact.msg-err'"
          *ngIf="!signUpForm.get('message').valid && signUpForm.get('message').touched"
          >The Message field is empty or not valid!</span>
        </div>

        <div class="form__item">
          <button type="submit" class="submit__btn" [disabled]="!signUpForm.valid" [ngClass]="{'submit__btn--valid':signUpForm.valid}" [translate]="'contact.msg-submit'">Submit</button>
          <span *ngIf="submitted" class="form__success" [translate]="'contact.msg-succ'">Successfully Submitted</span>
        </div>
      </form>
    </section>

    <section class="contact__details">
      <h3 [translate]="'contact.info-title'">CONTACT INFO</h3>
      <h4 [translate]="'contact.info-loc'" class="contact__subtitle">Where to find me</h4>
      <div class="contact__item">
        <img data-src="assets/svg-icons/contact/home.svg" alt="home" class="contact__img" >
        <p [translate]="'contact.info-telavi'" class="contact__text">Telavi, Kakheti</p>
      </div>
      <h4 [translate]="'contact.info-email'" class="contact__subtitle">Email me at</h4>
      <div class="contact__item">
        <img data-src="assets/svg-icons/contact/email.svg" alt="email" class="contact__img" >
        <p class="contact__text">giorgizhonzholadze1996@gmail.com</p>
      </div>
      <h4 [translate]="'contact.info-phone'" class="contact__subtitle">Call me at</h4>
      <div class="contact__item">
        <img data-src="assets/svg-icons/contact/smartphone.svg" alt="phone" class="contact__img" >
        <a href="tel:+995595333439" class="contact__text contact__phone">595 33 34 39</a>
      </div>
      <h4 [translate]="'contact.info-status'" class="contact__subtitle">Status</h4>
      <div class="contact__item">
        <span class="contact__status"></span>
        <p [translate]="'contact.status'" class="contact__text">Available</p>
      </div>
    </section>
  </div>

  <!-- map section  -->
  <app-map></app-map>
</section>


