<div>
  <h4>Contact Me</h4>
  <h2>Write me about anything or just say hello</h2>
  <div>
    <div>
      <h4>SEND US A MESSAGE</h4>
      <form>
        <input type="text" placeholder="Your Name">
        <input type="email" id="email" placeholder="Your Email">
        <input type="password" id="password" placeholder="Subject">
        <textarea name="" id="" cols="30" rows="4"></textarea>
        <button type="submit" class="button">Sign Up</button>
      </form>
    </div>
    <div>
      <h4>CONTACT INFO</h4>

      <h5>Where to Find Me</h5>
      <div>

        <p>Telavi, Kakheti, Georgia</p>
      </div>

      <h5>Email Me At</h5>
      <div>

        <p>giorgizhonzholadze1996@gmail.com</p>
      </div>

      <h5>Call Me At</h5>
      <div>

        <p>595 33 34 39</p>
      </div>
      <div>
        icons
      </div>
    </div>
  </div>
  <app-map></app-map>
</div>
