<div class="contact">
  <h3 class="contact__title">Contact Me</h3>
  <h2 class="contact__text">Write me about anything or just say hello</h2>
  <div class="contact__box">
    <div class="box">
      <h3 class="box__title">SEND US A MESSAGE</h3>
      <form class="box__form">
        <input type="text" placeholder="Your Name" class="box__input" required>
        <input type="email"  placeholder="Your Email" class="box__input" required>
        <input type="text"  placeholder="Subject" class="box__input" required>
        <textarea cols="20" rows="8" placeholder="Your Message" class="box__input"></textarea>
        <button type="submit" class="submit__btn">Submit</button>
      </form>
    </div>
    <div class="box__details">
      <h3 class="box__title">CONTACT INFO</h3>
      <h4 class="box__subtitle">Where to Find Me</h4>
      <div class="box__item">
        <img src="../../assets/icons/home.svg" alt="home" class="box__img">
        <p class="box__text">Telavi, Kakheti, Georgia</p>
      </div>
      <h4 class="box__subtitle">Email Me At</h4>
      <div class="box__item">
        <img src="../../assets/icons/email.svg" alt="email" class="box__img">
        <p class="box__text">giorgizhonzholadze1996@gmail.com</p>
      </div>
      <h4 class="box__subtitle">Call Me At</h4>
      <div class="box__item">
        <img src="../../assets/icons/smartphone.svg" alt="phone" class="box__img">
        <p class="box__text">595 33 34 39</p>
      </div>
      <div>
        <h4 class="box__subtitle">Stay Connected</h4>
        <a href="https://www.facebook.com/zhonzholadze/"><img src="../../assets/icons/iconmonstr-facebook-3.svg" alt="facebook" class="contact__icon"></a>
        <a href="https://github.com/Gikkk"><img src="../../assets/icons/iconmonstr-github-3.svg" alt="GitHub" class="contact__icon"></a>
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJftvRMnnphCbLpXRPZXCLGzGhlddJTtBWWJbVrbZHJrBBXPwGpVclHhKKqFbLHWMnVZvlV"><img src="../../assets/icons/google-icon.svg" alt="Gmail" class="contact__icon"></a>
        <a href="https://www.instagram.com/giorgizhonzholadze/"><img src="../../assets/icons/iconmonstr-instagram-11.svg" alt="Instagram" class="contact__icon"></a>
      </div>
    </div>
  </div>
  <app-map></app-map>
</div>
