/* You can add global styles to this file, and also import other style files */
@import './abstracts/variables';
@import './abstracts/placeholders';

@import './base/reset';
@import './base/typography';

@import './components/button';
@import './components/dropdown.scss';

@import './themes/dark';

@import "~leaflet/dist/leaflet.css";

*{
  box-sizing: border-box;
}


html {
  background: url('../assets/img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body{
  margin: 0;
  font-family: $primary-font;
}



