<div class="education">
  <h2 class="education__title">Education</h2>
  <div class="education__content">
    <div class="education__item">
      <h3 class="education__subtitle">Telavi State University</h3>
      <div class="education__subitem">
        <div>
          <p>Degree</p>
          <p>Faculty:</p>
          <p>Field:</p>
          <p>Minor:</p>
        </div>
        <div>
          <p class="education__highlight">Bachelor</p>
          <p class="education__highlight">Social Sciences and Law</p>
          <p class="education__highlight">Public Management</p>
          <p class="education__highlight">Information Technology</p>
        </div>
      </div>
    </div>
    <div class="education__item">
      <h3 class="education__subtitle">METU</h3>
      <div class="education__subitem">
        <div>
          <p>Degree:</p>
          <p>Faculty:</p>
          <p>Field:</p>
          <p>status:</p>
        </div>
        <div>
          <p class="education__highlight">Bachelor</p>
          <p class="education__highlight">Engineering</p>
          <p class="education__highlight">Computer Engineering</p>
          <p class="education__highlight">International Student(Erasmus)</p>
        </div>
      </div>
    </div>
  </div>
</div>
