@import "../styles/abstracts/variables";

// header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $background;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;

  .logo{
    width: 60px;
    height: 60px;
    box-shadow: inset 0 0 10px $border;
    border-radius: 50%;
  }

    /* hamburger  */
  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    outline: none;

    .line {
      fill: none;
      stroke: $btn-background;
      stroke-width: 6;
      -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
    .line2 {
      stroke-dasharray: 60 60;
      stroke-width: 6;
    }
    .line3 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  @media (min-width: 640px){
    .menu{
      display: none;
    }

    .desktop__nav{
      display: block;
      padding-right: 2rem;

      .nav__list{
        display: grid;
        grid-template-columns: repeat(5, auto);
        list-style: none;
        padding: 0;
        margin: 0;
        column-gap: 2.5rem;
        justify-items: center;
      }

      .nav__item{
        text-decoration: none;
        font-weight: 800;
        font-size: 1rem;
        color: $font-color;
        padding-bottom: 0.3rem;

        &:hover{
          border-bottom: 3px solid $border;
        }
      }
    }
  }
}


// navbar
.nav{
  position: fixed;
  top: 4rem;
  left: 0;
  display: none;
  height: 100vh;
  grid-template-rows: 2fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-left: 10rem;
  padding: 1rem;
  background: $background;
  z-index: 9999;

  .nav__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    row-gap: 1.5rem;
  }

  .nav__item{
    text-decoration: none;
    font-weight: 800;
    font-size: 1.5rem;
    color: $font-color;
  }

  .icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
  }

  .icons__item{
    width: 45px;
    height: 45px;

    &:hover{
      background: $btn-background;
      border-radius: 0.8rem;
    }
  }
  .copyright{
    color: $font-color;
    text-align: center;
  }

  @media (max-width: 370px) {
    .nav__item{
      font-size: 1rem;
    }

    .icons{
      column-gap: 2px;
    }
  }
}

// support
.toggle{
  display: grid;
}

.desktop__nav{
  display: none;
}

.activeNav{
  color: $border !important;
  border-bottom: 3px solid $font-color;
}

.footer{
  display: none;
}



// radial menu
.circular__menu {
  position: fixed;
  bottom: 48%;
  left: -0.6rem;
  z-index: 9999;

  .circular__btn {
    display: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid $hover-btn;
    background-color: $btn-background;
    box-shadow: 0 2px 5px 0 $hover-btn;
    cursor: pointer;
    outline: 0;
  }

  .circular__icon{
    -webkit-transition: all .3s ease;
    transition: transform .2s;
  }

  &:after {
    display: block;
    content: ' ';
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    z-index: -2;
    background-color: $background;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .menu__list {
    display: none;
    padding: 0;
    margin: 0;
  }

  .menu-item {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: hsla(0,0%,0%,.4);
    -webkit-transition: transform .3s ease, background .2s ease;
    transition: transform .3s ease, background .2s ease;

    &:hover {
      background-color: $btn-background;
      box-shadow: inset 0 0 10px $border;
    }
  }
}

.circular__menu.active {
  .circular__btn {
    box-shadow: inset 0 0 10px $border;
  }

  .circular__icon{
    transform: rotate(-45deg);
  }

  &:after {
    transform: scale3d(5.5, 5.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
  }

  .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .menu-item:nth-child(1) {
    transform: translate3d(1rem,-5.9rem,0);
  }

  .menu-item:nth-child(2) {
    transform: translate3d(5.3rem,-3rem,0);
  }

  .menu-item:nth-child(3) {
    transform: translate3d(5.8rem, 2.5rem,0);
  }

  .menu-item:nth-child(4) {
    transform: translate3d(1.5rem, 6.2rem,0);
  }
}

@media (min-width: 640px) {
  .circular__menu {
    .circular__btn{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .menu__list {
      display: block;
    }
  }
}

// footer
footer{
  display: none;
}

@media (min-width: 640px){
  footer{
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background: $background;

    p{
      margin: 0 1rem 0 0;
    }

    .test{
      display: flex;
      align-items: center;

      h2{
        margin: 0;
      }
    }

    img{
      width: 55px;
      height: 55px;
      margin-right: 1rem;
    }
  }
}

