<!-- tech stack -->
<div class="carousel">
  <h3 class="carousel__title">Tech Stack</h3>
  <div class="carousel__content">
    <div class="carousel__content--rotateable">
      <div class="carousel__item"><img src="../assets/tech/html-5.png" alt="HTML" class="carousel__img"></div>
      <div class="carousel__item"><img src="../assets/tech/css.png" alt="CSS" class="carousel__img"></div>
      <div class="carousel__item"><img src="../assets/tech/sass.png" alt="SASS" class="carousel__img"></div>
      <div class="carousel__item"><img src="../assets/tech/javascript.png" alt="JS" class="carousel__img"></div>
      <div class="carousel__item"><img src="../assets/tech/typescript.png" alt="TS" class="carousel__img"></div>
      <div class="carousel__item"><img src="../assets/tech/angular.png" alt="Angular" class="carousel__img"></div>
    </div>
  </div>
</div>

