<!-- tech stack -->
<div class="carousel">
  <h3 class="carousel__title">Tech Stack</h3>
  <div class="icon-cards">
    <div class="icon-cards__content">
      <div class="icon-cards__item"><img src="../assets/tech/html-5.png" alt="HTML" class="carousel__img"></div>
      <div class="icon-cards__item"><img src="../assets/tech/css.png" alt="CSS" class="carousel__img"></div>
      <div class="icon-cards__item"><img src="../assets/tech/sass.png" alt="SASS" class="carousel__img"></div>
      <div class="icon-cards__item"><img src="../assets/tech/javascript.png" alt="JS" class="carousel__img"></div>
      <div class="icon-cards__item"><img src="../assets/tech/typescript.png" alt="TS" class="carousel__img"></div>
      <div class="icon-cards__item"><img src="../assets/tech/angular.png" alt="Angular" class="carousel__img"></div>
    </div>
  </div>
</div>
<!-- <div class="checkbox">
  <input id="toggle-animation" type="checkbox" checked />
  <label class="checkbox__checkbox" for="toggle-animation"></label>
  <label class="checkbox__label" for="toggle-animation">Toggle animation</label>
</div> -->

