<div class="CV">
  <div class="language">
    <h3 class="language__title">Languages</h3>
    <div class="language__info">
      <div>
        <p>Georgian: </p>
        <p>English: </p>
        <p>Russian: </p>
      </div>
      <div>
        <p class="language__level">Native</p>
        <p class="language__level">Advanced</p>
        <p class="language__level">Intermediate</p>
      </div>
    </div>
  </div>
  <div class="cont">
    <h3 class="cont__title">For more information</h3>
    <a download href="../.../../../../assets/CV/Giorgi_Zhonzholadze.pdf" class="intro__btn--highlighted">Download CV</a>
  </div>
</div>
