<section class="carousel" #fadeIn>
  <h1 class="carousel__title"> Tech Stack</h1>
  <article class="carousel__content">
    <div class="carousel__content--rotateable" #rotatableEl>
      <div class="carousel__item test"><img src="assets/carousel/html-5.png" alt="HTML" class="carousel__img"></div>
      <div class="carousel__item"><img src="assets/carousel/css.png" alt="CSS" class="carousel__img"></div>
      <div class="carousel__item"><img src="assets/carousel/sass.png" alt="SASS" class="carousel__img" ></div>
      <div class="carousel__item"><img src="assets/carousel/bootstrap.png" alt="Bootstrap" class="carousel__img" ></div>
      <div class="carousel__item"><img src="assets/carousel/jquery.png" alt="jQuery" class="carousel__img" ></div>
      <div class="carousel__item"><img src="assets/carousel/javascript.png" alt="JS" class="carousel__img" ></div>
      <div class="carousel__item"><img src="assets/carousel/typescript.png" alt="TS" class="carousel__img" ></div>
      <div class="carousel__item"><img src="assets/carousel/angular.png" alt="Angular" class="carousel__img" ></div>
    </div>
  </article>
</section>


