<section class="carousel" #fadeIn>
  <h1 class="carousel__title"> Tech Stack</h1>

  <div class="carousel__content">
    <!-- rotatable elements  -->
    <div class="carousel__content--rotateable" #rotatableEl>
      <div class="carousel__item"><img data-src="assets/images/carousel/html-5.png" alt="HTML" class="carousel__img"></div>
      <div class="carousel__item"><img data-src="assets/images/carousel/css.png" alt="CSS" class="carousel__img"></div>
      <div class="carousel__item"><img data-src="assets/images/carousel/sass.png" alt="SASS" class="carousel__img" ></div>
      <div class="carousel__item"><img data-src="assets/images/carousel/bootstrap.png" alt="Bootstrap" class="carousel__img" ></div>
      <div class="carousel__item"><img data-src="assets/images/carousel/jquery.png" alt="jQuery" class="carousel__img" ></div>
      <div class="carousel__item"><img data-src="assets/images/carousel/javascript.png" alt="JS" class="carousel__img" ></div>
      <div class="carousel__item"><img data-src="assets/images/carousel/typescript.png" alt="TS" class="carousel__img" ></div>
      <div class="carousel__item"><img data-src="assets/images/carousel/angular.png" alt="Angular" class="carousel__img" ></div>
    </div>
  </div>

</section>


