<section class="language">

  <article class="language__card">
    <h3 class="language__title" [translate]="'about.ge'">Georgian</h3>
    <div class="language__bar">
      <div class="language__emptybar"></div>
      <div class="language__filledbar"></div>
    </div>
    <div class="language__flag">
      <img src="assets/card/georgia.png" alt="geo flag" >
    </div>
  </article>

  <article class="language__card">
    <h3 class="language__title" [translate]="'about.en'">English</h3>
    <div class="language__bar">
      <div class="language__emptybar"></div>
      <div class="language__filledbar"></div>
    </div>
    <div class="language__flag">
      <img src="assets/card/united-states.png" alt="english flag" >
    </div>
  </article>

  <article class="language__card">
    <h3 class="language__title" [translate]="'about.ru'">Russian</h3>
    <div class="language__bar">
      <div class="language__emptybar"></div>
      <div class="language__filledbar"></div>
    </div>
    <div class="language__flag">
      <img src="assets/card/russia.png" alt="russian flag" >
    </div>
  </article>

</section>
