.language{
  background: $hover-background;
  color: white;
  border-radius: 0.5rem;
  margin: 3rem 1rem;
  padding: 1rem;

  .language__info{
    display: grid;
    grid-template-columns: 100px auto;
  }

  .language__level{
    color: rgb(119, 214, 29);
  }
}

.cont{
  text-align: center;

  .cont__title{
    color: white;
    margin: 1rem 0 2rem 0;
  }

  .intro__btn--highlighted{
    @extend %btn--highlighted;
  }
}

@media (min-width: 640px){
  .CV{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 3rem;

    .language{
      margin: 3rem 0;
      display: grid;
      justify-items: center;
    }
  }
}

@media (min-width: 1040px){
  .language{
    .language__title{
      font-size: 1.5rem;
    }

    .language__info{
      grid-template-columns: 120px auto;
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 1600px){
  .language{
    .language__title{
      font-size: 2rem;
    }

    .language__info{
      grid-template-columns: 140px auto;
      font-size: 1.5rem;
    }
  }
}

