*{
  box-sizing: border-box;
}

//  Correct the line height in all browsers.
//  Prevent adjustments of font size after orientation changes in iOS.
html {
  position: relative;
  min-height: 100vh;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
  font-family: $primary-font;
  padding-bottom: 120px;
  overflow: auto;
}

