*{
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body{
  background: url("../../assets/main-img/background.jpg")  no-repeat center center fixed;
  background-size: cover;
  margin: 0 0 60px 0;
  font-family: $primary-font;
}
